.headerWrap {
    display: table;
    width: 100%;
    text-align: center;
    background-color: rgb(47, 47, 58);
    height: 15vh;
    border-radius: 5px;
}

.headerTitle {
    display: table-cell;
    vertical-align: middle;
    font-family: 'Bellota Text', cursive;
    font-size: 45px;
    color: whitesmoke;
}